.padre {
    /* IMPORTANTE */
    text-align: center;
  }




   /*Como centrar las columnas del archivo*/
  .hijo1 {
    text-align: justify;
    height: 1000px;
    width: auto;
    padding: 10px;
    margin: 2px;
    /* IMPORTANTE */
    display: inline-block;
  }
/*Como centrar las columnas del archivo*/
  .hijo2 {
    text-align: justify;
    height: auto;
    width: 850px;
    background-color: #fafafa;
    padding: 10px;
    margin: 2px;
    /* IMPORTANTE */
    display: inline-block;
}
img{ 
    text-align: center;
    justify-content: center;
    align-items: center;
}
article{
    text-align: center;}
p{
    text-align: justify;}